# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Py_project\Intents_recognizer_Rec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
